<h1 class="font-weight-light text-center text-secondary">Dashboard</h1>
<div class="row mt-5 my-card">
    <div class="col-md-8 border-right">
        <div class="row">
            <div class="col-md-6 p-4 text-center">
                <img src="../assets/img/svg/dice-two.png" width="80" alt="">
                <p class="pt-3 text-secondary">Participate in a quiz and stand a chance to win awesome rewards.</p>
                <a role="button" href="#" class="btn btn-brand text-white btn-block">Play Quiz</a>
            </div>
            <div class="col-md-6 p-4 text-center">
                <img src="../assets/img/svg/survey-pencil.png" width="80" alt="">
                <p class="pt-3 text-secondary">Participate in a pre-templated survey/poll of your choice.</p>
                <a href="#" class="btn btn-brand text-white btn-block">Play Polls</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center dashboard-header text-white p-3">
        <div class="pt-3">
            <h4 class="font-weight-light border-bottom pb-2">Summary</h4>
            <div class="row">
                <div class="col-6">
                    <h1 class="font-large font-extra-bold">
                        <span id='aquiz'></span>
                    </h1>
                    Quizzes Answered
                    <!-- <button class="btn btn-brand btn-sm btn-block">View details</button> -->
                </div>
                <div class="col-6">
                    <h1 class="font-large font-extra-bold">
                        <span id='apoll'></span>
                    </h1>
                    Polls Answered
                    <!-- <button class="btn btn-brand btn-sm btn-block">View details</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 my-card">
    <div class="col-md-8 border-right">
        <div class="row">
            <div class="col-md-12 col-sm-12 p-4 text-center">
                <h4>Rewards</h4>
                <div style="max-height: 300px; overflow:auto" class="text-brand">
                    <table id="rewardsTable" class="table table-hover table-borderless">
                        <thead class="btn-brand">
                            <tr>
                                <th scope="col" class="font-bold">#</th>
                                <th scope="col" class="font-bold">Reward</th>
                                <th scope="col" class="font-bold">Prize worth</th>
                                <th scope="col" class="font-bold">Available Quantity</th>
                                <th scope="col" class="font-bold"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center dashboard-header text-white p-3">
        <div class="pt-3">
            <h4 class="font-weight-light border-bottom pb-2">Summary</h4>
            <div class="row">
                <div class="col-6">
                    <h1 class="font-large font-extra-bold">
                        <span id='available'></span>
                    </h1>
                    Available Points
                    <!-- <button class="btn btn-brand btn-sm btn-block">View details</button> -->
                </div>
                <div class="col-6">
                    <h1 class="font-large font-extra-bold">
                        <span id='redeemed'></span>
                    </h1>
                    Redeemed Points
                    <!-- <button class="btn btn-brand btn-sm btn-block">View details</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5"></div>

<div style="display: none" id="pwdChangeMsg">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Change your password!</h4>
        </div>
        <div class="col-ms-12 text-secondary">
            <p>You have not changed your password from the default provided.
                We recommend that you change it by clicking the button below</p>
        </div>
    </div>
</div>

<div style="display: none" id="rewardClaimedMsg">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Your reward has been claimed! But...</h4>
        </div>
        <div class="col-ms-12 text-secondary">
            <p>The fulfilment of your reward is subject to approval by the 
                Admin. An email will be sent to you once it is approved. In the meanwhile 
                you are advised to update your contact details to enable us reach you. 
            </p>
        </div>
    </div>
</div>