<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
</head>

<body>
    <p>Hi {{lastname}},
    </p>
    <p>The following reward has been approved:</p>
    <b>{{reward}}</b>
    <p>You can come over to our office at XXX to claim it. <b>Congratulations!</b></p>
</body>

</html>