<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h3>Reward Claims</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="result" class="alert alert-danger" style="display: none">
        </div>
        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                        <label>Show
                            <select id="perPage" name="perPage" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="example_filter" class="dataTables_filter">
                        <label>Search:
                            <input id="search" type="search" class="form-control form-control-sm" placeholder="" aria-controls="example">
                        </label>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-2">
                </div> -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-striped dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th scope="col" class="font-bold">#</th>
                                <th scope="col" class="font-bold">Player</th>
                                <th scope="col" class="font-bold">Reward</th>
                                <th scope="col" class="font-bold">Prize worth</th>
                                <th scope="col" class="font-bold">Last updated</th>
                                <th scope="col" class="font-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="gridFooter"></div>
        </div>
    </div>
</div>
<script src="/pages/superadmin/rewardclaims/rewardclaims.js"></script>
<script>
    $(function () {
        initRewardClaim("/api/superadmin/rewardclaims");
    });
</script>